<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freecharge.mapper.EmployeeMapper">
    <update id="update" parameterType="com.freecharge.model.Employee">
        UPDATE employees
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="email_address != null">
                email_address = #{email_address},
            </if>
            <if test="salary != null">
                salary = #{salary},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>